
<nav class="menu">           
	
  <%= link_to 'Account', edit_user_registration_path, {:class=>"menu-item"} %>
  
  <%= link_to 'My Adds', users_u_ads_path, {:class=>"menu-item"} %>


  <a class="menu-item" href="#">
    <span class="octicon octicon-person"></span>
    my adds
  </a>
  <a class="menu-item" href="#">
    <span class="octicon octicon-mail"></span>
    new Add
  </a>
  <a class="menu-item" href="#">
    <span class="octicon octicon-radio-tower"></span>
    <span class="counter">3</span>
    Notifications
  </a>
</nav>

