
<nav class="menu">           
  <a class="menu-item " href="#">
    <span class="octicon octicon-tools"></span>
    Accounwt
  </a>
  <a class="menu-item" href="#">
    <span class="octicon octicon-person"></span>
    my adds
  </a>
  <a class="menu-item" href="#">
    <span class="octicon octicon-mail"></span>
    new Add
  </a>
  <a class="menu-item" href="#">
    <span class="octicon octicon-radio-tower"></span>
    <span class="counter">3</span>
    Notifications
  </a>
</nav>

