
<nav class="menu">           
	
  <%= link_to 'Account', edit_user_registration_path, {:class=>"menu-item"} %>
  <%= link_to 'My Ads', users_u_ads_path, {:class=>"menu-item"} %>
  <%= link_to 'New Ad', new_ad_path, {:class=>"menu-item"} %>

  <a class="menu-item" href="#">
    <span class="octicon octicon-radio-tower"></span>
    <span class="counter">3</span>
    Notifications
  </a>
</nav>

