<div class="container">

<div class="colums">
	<div class="one-forth column">
		<%= render 'nav_bar' %>
	</div>
	<div class="three-fourths column">
            <%= render 'user_adds' %>
	<%= link_to 'Back', users_path %>
	
	</div>
</div>

</div>
